#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "profapi"
#define REACTOS_STR_INTERNAL_NAME     "profapi"
#define REACTOS_STR_ORIGINAL_FILENAME "profapi.dll"
#include <reactos/version.rc>
